body{
font-family: 'Segoe UI', sans-serif;
margin:0;
background: linear-gradient(135deg,#f6d365,#fda085);
color:#333;
}

/* Header */

header{
background: linear-gradient(90deg,#667eea,#764ba2);
color:white;
text-align:center;
padding:40px;
}

header h1{
margin:0;
font-size:42px;
letter-spacing:2px;
}

/* Navigation */

nav{
margin-top:15px;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
font-size:18px;
font-weight:500;
padding:6px 12px;
border-radius:20px;
transition:0.3s;
}

nav a:hover{
background:white;
color:#764ba2;
}

/* Section */

section{
width:70%;
margin:auto;
background:white;
padding:35px;
margin-top:35px;
border-radius:15px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

/* Headings */

h2{
color:#764ba2;
border-bottom:3px solid #fda085;
padding-bottom:8px;
}

/* Lists */

ul{
line-height:2;
}

/* Project box */

.project{
background:#f7f7ff;
padding:15px;
margin-top:15px;
border-left:5px solid #764ba2;
border-radius:8px;
}

/* Contact */

p{
font-size:17px;
line-height:1.6;
}

/* Footer */

footer{
text-align:center;
margin-top:40px;
padding:20px;
background:#764ba2;
color:white;
}
